<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<!--
#####################################################################################################
#    @author  stoneberg
#    @since   2020. 08. 15.
#    @version 1.0.0
#    @Description : error test
#####################################################################################################
-->

<!-- page title -->
<th:block layout:fragment="title">
    <title>Error Test</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/vendor/croppie.css}" />
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['ctxPath'] = /*[[@{/}]]*/ '/';
        console.log("thisPage", thisPage);
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-10">Make Error</h1>
            <br/>
            <button type="button" id="error" class="btn btn-primary">Error</button>
        </div>
    </div>
</div>
<!-- end Contents div -->

<!-- custom bottom js -->
<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/views/example/err.js}"></script>
</th:block>

</html>
