<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<!--
#####################################################################################################
#    @author  stoneberg
#    @since   2020. 08. 24.
#    @version 1.0.0
#    @Description : user-pledge-detail
#####################################################################################################
-->

<!-- page title -->
<th:block layout:fragment="title">
    <title>User Pledge Detail</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['ctxPath'] = /*[[@{/}]]*/ '/';
        thisPage['userPledgeId'] = /*[[${userPledgeId}]]*/ '';
        console.log("thisPage", thisPage);
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
    <h2>User Pledge Detail</h2>
    <h2>User Pledge Detail</h2>
    <h2>User Pledge Detail</h2>
</div>
<!-- end Contents div -->

<!-- custom bottom js -->
<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/views/example/user-pledge-detail.js}"></script>
</th:block>

</html>
