<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<!--
#####################################################################################################
#    @author  stoneberg
#    @since   2020. 08. 24.
#    @version 1.0.0
#    @Description : user-pledge-detail
#####################################################################################################
-->

<!-- page title -->
<th:block layout:fragment="title">
    <title>User Pledge Detail</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['ctxPath'] = /*[[@{/}]]*/ '/';
        thisPage['commonCode'] = /*[[${commonCode}]]*/ '';
        thisPage['userPledgeId'] = /*[[${userPledgeId}]]*/ '';
        console.log("thisPage", thisPage);
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-10">User Pledge Detail</h1>
            <br/>
            <div class="form-group">
                <label for="progsSttusType">진행상태</label>
                <select class="selectpicker" id="progsSttusType" title="유형선택">
                </select>
            </div>
            <div class="form-group">
                <label for="contentsType">유형</label>
                <select class="selectpicker" id="contentsType" title="유형선택">
                </select>
            </div>
            <div class="form-group">
                <label for="pledgeName">서약 업무명</label>
                <input type="pledgeName" class="form-control" id="pledgeName" placeholder="서약 업무명">
            </div>
            <div class="form-group">
                <label class="radio-custom" for="date-start">요청일</label>
                <input type="text" id="date-start" class="form-control datepicker-input">
                <span class="icon-area"></span>
            </div>
            <div class="form-group">
                <label for="reqDept">요청부서</label>
                <input type="reqDept" class="form-control" id="reqDept" placeholder="요청부서" readonly>
            </div>
            <div class="form-group">
                <label for="reqUser">요청자</label>
                <input type="reqUser" class="form-control" id="reqUser" placeholder="요청자" readonly>
            </div>
            <div class="form-group">
                <label class="radio-custom" for="date-end">마감일</label>
                <input type="text" id="date-end" class="form-control datepicker-input">
                <span class="icon-area"></span>
            </div>
            <button type="button" id="update" class="btn btn-primary">수정</button>
            <button type="button" id="delete" class="btn btn-danger">삭제</button>
        </div>
    </div>
</div>
<!-- end Contents div -->

<!-- custom bottom js -->
<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/views/example/user-pledge-detail.js}"></script>
</th:block>

</html>
