<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<!--
#####################################################################################################
#    @author  stoneberg
#    @since   2020. 08. 16.
#    @version 1.0.0
#    @Description : user-pledge-list
#####################################################################################################
-->

<!-- page title -->
<th:block layout:fragment="title">
    <title>User Pledge List</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['ctxPath'] = /*[[@{/}]]*/ '/';
        thisPage['commonCode'] = /*[[${commonCode}]]*/ '';
        console.log("thisPage", thisPage);
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">

    <div class="cont-title-wrap">
        <h2 class="cont-title">내가 받은 서약</h2>
        <h3 class="cont-sub-title">요청 받은 서약 업무를 승인하거나 과거 내용을 조회할 수 있습니다.</h3>
    </div>

    <nav class="breadcrumb-wrap clearboth" aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-end align-items-center">
            <li class="breadcrumb-item home"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">내가 받은 서약</li>
        </ol>
    </nav>

    <!-- TABS -->
    <div class="tab-wrap">
        <!-- TAB -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
             <!-- #1 tab-->
            <li class="nav-item">
                <a class="nav-link active" id="proceeding-tab" data-toggle="tab" href="#proceeding" role="tab"
                   aria-controls="proceeding" aria-selected="true">진행중<span class="font-red" id="pro-cnt">(0)</span></a>
            </li>
            <!-- #2 tab-->
            <li class="nav-item">
                <a class="nav-link" id="complete-tab" data-toggle="tab" href="#complete" role="tab"
                   aria-controls="complete" aria-selected="false">완료<span class="font-red" id="com-cnt">(0)</span></a>
            </li>
             <!-- #3 tab-->
            <li class="nav-item">
                <a class="nav-link" id="standby-tab" data-toggle="tab" href="#standby" role="tab"
                   aria-controls="standby" aria-selected="false">대기<span class="font-red" id="std-cnt">(0)</span></a>
            </li>
        </ul>
        <!-- TAB -->

        <!-- 검색박스 -->
        <div class="box-wrap search-box-wrap">
            <strong class="box-title">검색</strong>
            <div class="box-inner">
                <select class="selectpicker" id="pledgeType" title="유형선택">
                <!--
                    <option value="">전체</option>
                    <option value="html">일반</option>
                    <option value="video">동영상</option>
                 -->
                </select>

                <div class="radio-wrap">
                    <label class="radio-custom" for="startDt">
                        <input type="radio" id="startDt" name="dateType" value="startDt" checked="true">
                        <span class="icon-area"></span>
                        <p>등록일</p>
                    </label>
                    <label class="radio-custom" for="endDt">
                        <input type="radio" id="endDt" name="dateType" value="endDt">
                        <span class="icon-area"></span>
                        <p>마감일</p>
                    </label>
                </div>
                <div class="datepicker-wrap">
                    <input type="text" id="date-start" class="form-control datepicker-input">
                    <span>~</span>
                    <input type="text" id="date-end" class="form-control datepicker-input">
                </div>
                <select class="selectpicker" id="searchType" title="선택">
                    <option value="all">전체</option>
                    <option value="pledgeName">업무명</option>
                    <option value="reqDept">요청부서</option>
                    <option value="reqUser">요청자</option>
                </select>
                <div class="input-default search">
                    <input class="form-control" type="text" id="searchKey" placeholder="검색하실 내용을 입력하세요.">
                </div>
                <button type="button" id="search" class="main-color btn btn-s">
                    <p>검색</p>
                </button>
            </div>
        </div>
        <!-- //검색박스 -->
        <p class="total-num">
            총<span id="total" class="font-red"></span>건
        </p>
        <select id="low-size" class="selectpicker float-right">
            <option value="10">10개씩보기</option>
            <option value="30">30개씩보기</option>
        </select>

        <div class="tab-content" id="myTabContent">

            <!-- First TAB(proceeding-tab) -->
            <div class="tab-pane fade show active" id="proceeding" role="tabpanel" aria-labelledby="proceeding-tab">
                <div id="list-wrap" class="list-wrap">
                    <ul id="thead" class="list-group l-head list-group-horizontal">
                        <li class="d-inline-block w-5">No.</li>
                        <li class="d-inline-block w-10">진행상태</li>
                        <li class="d-inline-block w-10">유형</li>
                        <li class="d-inline-block w-30">서약 업무명</li>
                        <li class="d-inline-block w-10">요청일</li>
                        <li class="d-inline-block w-15">요청부서</li>
                        <li class="d-inline-block w-10">요청자</li>
                        <li class="d-inline-block w-10">마감일</li>
                    </ul>
                    <ul id="tbody" class="list-group l-body list-group-horizontal">
                        <!--                            <li>-->
                        <!--                                <ul class="list-group list-group-horizontal">-->
                        <!--                                    <li class="d-inline-block w-5">10</li>-->
                        <!--                                    <li class="d-inline-block w-10 font-blue">진행</li>-->
                        <!--                                    <li class="d-inline-block w-10">일반</li>-->
                        <!--                                    <li class="d-inline-block w-30 text-left">-->
                        <!--                                        <a class="text-truncate" href="">2020년 정보보안서약서 동의요청</a>-->
                        <!--                                    </li>-->
                        <!--                                    <li class="d-inline-block w-10">2020.11.23</li>-->
                        <!--                                    <li class="d-inline-block w-15">우리팀</li>-->
                        <!--                                    <li class="d-inline-block w-10">케이트</li>-->
                        <!--                                    <li class="d-inline-block w-10 font-red">2020.11.24</li>-->
                        <!--                                        &lt;!&ndash;<li class="d-inline-block w-100">요청 받은 전자서명이 없습니다.</li>&ndash;&gt;-->
                        <!--                                </ul>-->
                        <!--                            </li>-->
                    </ul>
                    <div class="list-none-area">
                        <span class="icon-area"></span>
                        <p>데이터가 존재하지 않습니다.</p>
                    </div>
                </div>

                <!-- pagination -->
                <nav id="pagination" aria-label="Page navigation example" style="display: none;">
                    <!--                        <ul class="pagination justify-content-center">-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-prev first" href="#" aria-label="Previous" title="맨앞으로"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-prev" href="#" aria-label="Previous"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-next" href="#" aria-label="Next"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-next last" href="#" aria-label="Next" title="맨뒤로"></a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                </nav>
                <!-- //pagination -->
            </div>
            <!-- // First TAB(proceeding-tab) -->

            <!-- Second TAB(proceeding-tab) -->
            <div class="tab-pane fade" id="complete" role="tabpanel" aria-labelledby="complete-tab">
                <div id="list-wrap2" class="list-wrap">
                    <ul id="thead2" class="list-group l-head list-group-horizontal">
                        <li class="d-inline-block w-5">No.</li>
                        <li class="d-inline-block w-10">진행상태</li>
                        <li class="d-inline-block w-10">유형</li>
                        <li class="d-inline-block w-30">서약 업무명</li>
                        <li class="d-inline-block w-10">요청일</li>
                        <li class="d-inline-block w-15">요청부서</li>
                        <li class="d-inline-block w-10">요청자</li>
                        <li class="d-inline-block w-10">마감일</li>
                    </ul>
                    <ul id="tbody2" class="list-group l-body list-group-horizontal">
                        <!--                            <li>-->
                        <!--                                <ul class="list-group list-group-horizontal">-->
                        <!--                                    <li class="d-inline-block w-5">10</li>-->
                        <!--                                    <li class="d-inline-block w-10 font-blue">진행</li>-->
                        <!--                                    <li class="d-inline-block w-10">일반</li>-->
                        <!--                                    <li class="d-inline-block w-30 text-left">-->
                        <!--                                        <a class="text-truncate" href="">2020년 정보보안서약서 동의요청</a>-->
                        <!--                                    </li>-->
                        <!--                                    <li class="d-inline-block w-10">2020.11.23</li>-->
                        <!--                                    <li class="d-inline-block w-15">우리팀</li>-->
                        <!--                                    <li class="d-inline-block w-10">케이트</li>-->
                        <!--                                    <li class="d-inline-block w-10 font-red">2020.11.24</li>-->
                        <!--                                        &lt;!&ndash;<li class="d-inline-block w-100">요청 받은 전자서명이 없습니다.</li>&ndash;&gt;-->
                        <!--                                </ul>-->
                        <!--                            </li>-->
                    </ul>
                    <div class="list-none-area">
                        <span class="icon-area"></span>
                        <p>데이터가 존재하지 않습니다.</p>
                    </div>
                </div>

                <!-- pagination -->
                <nav id="pagination2" aria-label="Page navigation example" style="display: none;">
                    <!--                        <ul class="pagination justify-content-center">-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-prev first" href="#" aria-label="Previous" title="맨앞으로"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-prev" href="#" aria-label="Previous"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-next" href="#" aria-label="Next"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-next last" href="#" aria-label="Next" title="맨뒤로"></a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                </nav>
                <!-- //pagination -->
            </div>
            <!-- // Second TAB(proceeding-tab) -->

            <!-- Third TAB(proceeding-tab) -->
            <div class="tab-pane fade" id="standby" role="tabpanel" aria-labelledby="complete-tab">
                <div id="list-wrap3" class="list-wrap">
                    <ul id="thead3" class="list-group l-head list-group-horizontal">
                        <li class="d-inline-block w-5">No.</li>
                        <li class="d-inline-block w-10">진행상태</li>
                        <li class="d-inline-block w-10">유형</li>
                        <li class="d-inline-block w-30">서약 업무명</li>
                        <li class="d-inline-block w-10">요청일</li>
                        <li class="d-inline-block w-15">요청부서</li>
                        <li class="d-inline-block w-10">요청자</li>
                        <li class="d-inline-block w-10">마감일</li>
                    </ul>
                    <ul id="tbody3" class="list-group l-body list-group-horizontal">
                        <!--                            <li>-->
                        <!--                                <ul class="list-group list-group-horizontal">-->
                        <!--                                    <li class="d-inline-block w-5">10</li>-->
                        <!--                                    <li class="d-inline-block w-10 font-blue">진행</li>-->
                        <!--                                    <li class="d-inline-block w-10">일반</li>-->
                        <!--                                    <li class="d-inline-block w-30 text-left">-->
                        <!--                                        <a class="text-truncate" href="">2020년 정보보안서약서 동의요청</a>-->
                        <!--                                    </li>-->
                        <!--                                    <li class="d-inline-block w-10">2020.11.23</li>-->
                        <!--                                    <li class="d-inline-block w-15">우리팀</li>-->
                        <!--                                    <li class="d-inline-block w-10">케이트</li>-->
                        <!--                                    <li class="d-inline-block w-10 font-red">2020.11.24</li>-->
                        <!--                                        &lt;!&ndash;<li class="d-inline-block w-100">요청 받은 전자서명이 없습니다.</li>&ndash;&gt;-->
                        <!--                                </ul>-->
                        <!--                            </li>-->
                    </ul>
                    <div class="list-none-area">
                        <span class="icon-area"></span>
                        <p>데이터가 존재하지 않습니다.</p>
                    </div>
                </div>

                <!-- pagination -->
                <nav id="pagination3" aria-label="Page navigation example" style="display: none;">
                    <!--                        <ul class="pagination justify-content-center">-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-prev first" href="#" aria-label="Previous" title="맨앞으로"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-prev" href="#" aria-label="Previous"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-next" href="#" aria-label="Next"></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link page-next last" href="#" aria-label="Next" title="맨뒤로"></a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                </nav>
                <!-- //pagination -->
            </div>
            <!-- // Third TAB(proceeding-tab) -->

        </div>
    </div> <!-- TAB-->

</div>
<!-- end Contents div -->

<!-- custom bottom js -->
<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/views/example/user-pledge-list.js}"></script>
</th:block>

</html>