<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<!--
#####################################################################################################
#    @author  stoneberg
#    @since   2020. 08. 16.
#    @version 1.0.0
#    @Description : video
#####################################################################################################
-->

<!-- page title -->
<th:block layout:fragment="title">
    <title>Video</title>
</th:block>

<!-- custom css -->
<th:block layout:fragment="css">
    <style th:inline="text">
    </style>
</th:block>

<!-- custom top js -->
<th:block layout:fragment="topScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let thisPage = {};
        thisPage['ctxPath'] = /*[[@{/}]]*/ '/';
        console.log("thisPage", thisPage);
        /*]]>*/
    </script>
</th:block>

<!-- Contents div -->
<div id="contents" layout:fragment="contents">
<!--    <div class="card">-->
<!--        <input type="file" accept="video/*" />-->
<!--        <video id="video" class="img-fluid" width="500" height="250" controls autoplay></video>-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Get / Set PlayTime</h4>-->
<!--            <button id="get" type="button">Get current time position</button>-->
<!--            <button id="set" type="button">Set time position to 5 seconds</button><br />-->
<!--        </div>-->
<!--    </div>-->
<!--    <br/>-->
    <div class="card">
        <strong class="component-label"> Input: </strong>
        <div class="input-default search">
            <input class="form-control" name="videoName" id="videoName" value="glass" type="text" placeholder="시청할 동영상 제목을 입력하세요." readonly />
        </div>
        <br/>
        <video id="video2" class="img-fluid" width="500" height="250" style="pointer-events: none;" controls>
            <source th:src="@{/upload/files/dawn.mp4}" type="video/mp4">
        </video>
        <div class="card-body">
            <h4 class="card-title">Get / Set PlayTime</h4>
            <button id="play" type="button">Play Video</button>
            <button id="pause" type="button">Pause Video</button>
<!--            <button id="get2" type="button">Get current time position</button>-->
<!--            <button id="set2" type="button">Set time position to 5 seconds</button><br />-->
            <button id="new-vod" type="button">Load New Video</button><br />
        </div>
        <div>
            <h3>15초간 시청 후 서약 진행 가능</h3>
            <p id="end"></p>
            <button id="pledge" style="display: none;" type="button">서약하기</button>
        </div>
<!--        <p>current time</p>-->
<!--        <div id="current">0:00</div>-->
<!--        <p>duration time</p>-->
<!--        <div id="duration">0:00</div>-->
    </div>

</div>
<!-- end Contents div -->

<!-- custom bottom js -->
<th:block layout:fragment="bottomScript">
    <script type="text/javascript" th:src="@{/js/common/local.video-player.js}"></script>
    <script type="text/javascript" th:src="@{/js/views/example/video.js}"></script>
</th:block>

</html>
