<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header id="header" class="main-color" th:fragment="headerFragment">
    <div class="header-top">
        <div class="header-top-inner">
            <p class="user-info float-right">
                <span class="name" id="logUser">도람푸</span>
                <span class="team" id="logDept">솔루션팀</span>
            </p>
        </div>
    </div>
    <div class="header-inner">
        <h1 class="logo">
            <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="ktds 전자서명"/></a>
        </h1>
        <div class="gnb-wrap">
            <ul class="main-menu">
                <!-- li .on 추가시 mouseover와 같은상태 -->
                <li><span th:text="#{header.title1}">내가 받은 요청</span></li>
                <li><span th:text="#{header.title2}">양식 관리</span></li>
                <li><span th:text="#{header.title3}">서약 관리</span></li>
            </ul>
            <div class="sub-menu" style="display: none;">
                <div class="sub-menu-inner">
                    <ul>
                        <!-- a .on 추가시 mouseover와 같은상태 -->
                        <li><a href="#" th:text="#{header.title1-menu1}">요청 받은 서약</a></li>
                        <li><a href="#" th:text="#{header.title1-menu2}">진행 중 서약</a></li>
                        <li><a href="#" th:text="#{header.title1-menu3}">완료된 서약</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" th:text="#{header.title2-menu1}">양식 조회</a></li>
                        <li><a href="#" th:text="#{header.title2-menu2}">개인 양식 등록</a></li>
                    </ul>
                    <ul>
                        <li><a href="" th:text="#{header.title3-menu1}">서약 조회</a></li>
                        <li><a href="" th:text="#{header.title3-menu2}">서약 업무 만들기</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="button" id="personal-setting" th:utext="#{header.title4}" class="btn-setting">
            <span class="icon-area"></span>
            개인설정
        </button>
    </div>
</header>

</html>