@charset "utf-8";

@font-face {
	font-family: 'NanumGothic';
  src: url('../font/NanumGothicLight.woff') format('woff'),
  url('fonts/NanumGothicLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'NanumGothic';
  src: url('../font/NanumGothic.woff') format('woff'),
  url('fonts/NanumGothic.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NanumGothic';
  src: url('../font/NanumGothicBold.woff') format('woff'),
  url('fonts/NanumGothicBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'NanumGothic';
  src: url('../font/NanumGothicExtraBold.woff') format('woff'),
  url('fonts/NanumGothicExtraBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
/*
	reset css
*/
* {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, strong, dl, dt, dd, ol, ul, li,
label, table, tbody, thead, tr, th, td,
canvas, footer, header, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'NanumGothic', sans-serif;
	vertical-align: baseline;
	word-wrap: break-word;
}
input, select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none; appearance: none;
	-webkit-border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
html {
	width: 100%;
	height: 100%;
	font-size: 16px;
}
input[type="number"]:-webkit-outer-spin-button,
input[type="number"]:-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type=text]:-ms-clear {
	display: none;
}
button {
	padding: 0;
	outline: 0;
}
button:focus {
	outline: 0;
}
body {
	height: 100%;
	box-sizing: border-box;
	background-color: transparent;
	font-family: 'NanumGothic', sans-serif;
	font-weight: 400;
}
ol, ul {
	list-style: none;
}
img {
	width: 100%;
	border: 0;
	outline: 0;
	vertical-align: top;
}

/*
	Common css
*/
.clearboth {
	clear: both;
}
.main-color {
	background-color: #283541 !important;
}
.font-red {
	display: inline-block;
	color: #ED1B23 !important;
}
.font-blue {
	display: inline-block;
	color: #167BD8 !important;
}

/*
	Components & Custom CSS
*/
.wrap {
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}
header {
	width: 100%;
	height: 80px;
	/* background-color: #283541; */
	font-size: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
}
.header-inner {
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.header-inner .logo {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 360px;
	height: 100%;
}
.logo a {
	display: block;
	width: 200px;
	font-size: 0;
	line-height: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.gnb-wrap {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.gnb-wrap .main-menu li {
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	height: 100%;
	line-height: 80px;
	text-align: center;
	cursor: pointer;
}
.gnb-wrap .main-menu li span {
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	color: #FFF;
	text-align: center;
	position: relative;
	top: 5px;
}
.gnb-wrap .main-menu li span:after {
	content: '';
	display: none;
	width: 6px;
	height: 6px;
	background-color: #ED1B23;
	position: absolute;
	top: -10px;
	right: -5px;
	border-radius: 50%;
}
.gnb-wrap .main-menu li:hover {
	background-color: #262E36;
}
.gnb-wrap .main-menu li.on {
	background-color: #262E36;
}
.gnb-wrap .main-menu li.on span:after {
	display: block;
}
.gnb-wrap .sub-menu {
	display: none;
	width: 100%;
	padding: 30px 0;
	background-color: #FFF;
	border-bottom: 1px solid #283541;
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 5;
}
.gnb-wrap .sub-menu .sub-menu-inner {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding-left: 360px;
	background-color: #fff;
}
.gnb-wrap .sub-menu ul {
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
	max-width: 180px;
	min-height: 84px;
	width: 30%;
	border-right: 1px solid #e8e8e8;
}
.gnb-wrap .sub-menu ul:first-child {
	border-left: 1px solid #e8e8e8;
}
.gnb-wrap .sub-menu ul li {
	margin-bottom: 15px;
}
.gnb-wrap .sub-menu ul li:last-child {
	margin-bottom: 0;
}
.gnb-wrap .sub-menu ul li a {
	display: block;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;
	color: #222;
}
.gnb-wrap .sub-menu ul li:hover a {
	font-weight: 400;
	text-decoration: underline;
}
.gnb-wrap .sub-menu ul li.on a {
	font-weight: 400;
	text-decoration: underline;
}
header .btn-setting {
	display: block;
	position: absolute;
	top: 50%;
	right: 80px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 16px;
	color: #FFF;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
header .btn-setting .icon-area {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background-image: url(../images/icon_setting.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
footer {
	width: 100%;
	padding: 12px 0;
	background-color: #ced9e3;
	position: absolute;
	bottom: 0;
	left: 0;
}
footer .footer-logo {
	display: block;
	width: 46px;
	position: absolute;
	top: 50%;
	left: 30px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 1;
}
footer p {
	font-size: 12px;
	font-weight: 300;
	color: #222;
	text-align: center;
	line-height: 1;
}
.container-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 0 75px 0;
}

/* Heading Title */
.cont-title-wrap {
	padding-top: 35px;
}
.cont-title-wrap .cont-title,
.cont-title-wrap .cont-sub-title {
	display: inline-block;
	vertical-align: middle;
}
.cont-title-wrap .cont-title {
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
}
.cont-title-wrap .cont-sub-title {
	padding-left: 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

/* breadcrumb custom CSS */
.breadcrumb-wrap {
	padding: 20px 0;
}
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
	background-color: transparent;
}
.breadcrumb-item {
	display: inline-block;
	vertical-align: middle;
}
.breadcrumb-item + .breadcrumb-item {
	padding-left: 0;
}
.breadcrumb-item + .breadcrumb-item:before {
  content: '';
  height: 30px;
	padding: 0 10px;
  background-image: url(../images/icon_arrow_g.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
	transform: rotate(180deg);
	vertical-align: middle;
}
.breadcrumb-item,
.breadcrumb-item > a {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.breadcrumb-item > a {
	color: #888;
}
.breadcrumb-item.home > a {
	display: block;
  width: 30px;
	height: 30px;
	margin-top: -3px;
  background-image: url(../images/icon_home.png);
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
}
.breadcrumb-item.home > a {
  font-size: 0;
}
.breadcrumb-item.active {
  color: #283541;
}

/* tab custom CSS */
.nav-tabs {
  padding-left: 30px;
  border-bottom: 1px solid #E8E8E8;
}
.nav-tabs .nav-item {
  width: 120px;
  text-align: center;
}
.nav-tabs .nav-link {
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #888;
  position: relative;
}
.nav-tabs .nav-item {
  min-width: 120px;
}
.nav-tabs .nav-link:hover {
  color: #283541;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  color: #283541;
}
.nav-tabs .nav-link:after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #283541;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-tabs .nav-link.active:after {
  width: 100%;
}

/* Select box custom CSS */
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto;
  background-color: #FFF;
}
.bootstrap-select > .dropdown-toggle {
  width: 120px;
	height: 42px;
	padding: 0 15px;
  border: 1px solid #283541;
  background-color: #FFF;
	border-radius: 0;
	position: relative;
}
.bootstrap-select.show {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	-ms-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select.show > .btn-light.dropdown-toggle {
  background-color: #FFF;
	border-color: #283541;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner,
.bootstrap-select .dropdown-menu li a span.text {
  font-size: 14px;
  font-weight: 400;
  color: #283541;
}
.bootstrap-select .dropdown-toggle .filter-option {
  height: auto;
}
.dropdown-menu {
  border-radius: 0;
  border: 1px solid #283541;
}
.bootstrap-select .dropdown-menu li a {
	padding: 5px 15px;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}
.dropdown-item:hover, .dropdown-item:focus {
	background-color: rgba(0, 123, 255, 0.1);
}
.bootstrap-select .dropdown-toggle:focus {
	outline: 0 !important;
}
.dropdown-toggle:after {
  border: none;
  width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -12px !important;
  background-image: url(../images/icon_arrow_b.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
	transition: all 0.3s;
}
.bootstrap-select.show .dropdown-toggle:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Radio, Checkbox CSS */
.radio-wrap {
	display: inline-block;
	vertical-align: middle;
}
.radio-custom {
	display: inline-block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 10px;
}
.radio-custom:last-child {
	margin-right: 0;
}
.radio-custom input[type="radio"],
.checkbox-custom input[type="checkbox"] {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.radio-custom .icon-area {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  background-color: #FFF;
  position: relative;
}
.radio-custom .icon-area:after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 50%;
}
.radio-custom p {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #888;
}
.radio-custom input[type="radio"]:checked ~ .icon-area {
  border: 1px solid #283541;
}
.radio-custom input[type="radio"]:checked ~ .icon-area:after {
  background-color: #283541;
}
.radio-custom input[type="radio"]:checked ~ p {
  color: #283541;
}

/* DatePicker Custm CSS */
.datepicker-wrap .input-label {
	display: inline-block;
	margin-right: 10px;
	font-size: 16px;
	color: #222;
	vertical-align: middle;
}
.datepicker-wrap .datepicker-input {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 42px;
	padding: 0 15px;
	border-radius: 0;
	border: 1px solid #283541;
	font-size: 14px;
	font-weight: 400;
	color: #283541;
	background-image: url(../images/icon_calendar.png);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 100px center;
}
.datepicker-wrap .datepicker-input + span {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
	font-size: 16px;
	font-weight: 400;
	color: #888;
}
/* calendar CSS */
.datepicker-dropdown {
	padding: 10px;
	border: 1px solid #E8E8E8;
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.datepicker .prev,
.datepicker .next,
.datepicker .prev:hover,
.datepicker .next:hover  {
	width: 30px;
	height: 30px;
	font-size: 0;
	background-image: url(../images/icon_arrow_b.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
}
.datepicker .next,
.datepicker .next:hover {
	-webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.datepicker td,
.datepicker th {
	width: 32px;
	height: 32px;
	font-size: 14px;
	padding-top: 5px;
}
.datepicker th {
	font-weight: 600;
}
.datepicker td {
	font-weight: 400;
}
.datepicker table tr td.active.active {
	/* border-radius: 50%; */
	background-image: none;
	background-color: #283541;
	border: 0;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	/* border-radius: 50%; */
	background-color: #e8e8e8;
}
.datepicker-dropdown.datepicker-orient-top:before {
	border-color: #E8E8E8;
}

/* Input CSS */
input[type="text"]::-webkit-input-placeholder {
	color: #888;
}
input[type="text"]:-ms-input-placeholder {
	color: #888;
}
.input-default {
	display: inline-block;
	vertical-align: middle;
}
.input-default > input {
	width: 100%;
	height: 42px;
	padding: 0 15px;
	line-height: 42px;
	font-size: 14px;
	color: #283541;
	border: 1px solid #283541;
	background-color: #fff;
	border-radius: 0;
}
.input-default.search > input {
	width: 286px;
}

/* Button */
.btn:focus, .btn.focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	-ms-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn {
	display: inline-block;
	width: 120px;
	padding: 0;
	border-radius: 0;
	background-color: #283541;
}
.btn.btn-default {
	width: 120px;
}
.btn > p {
	font-size: 16px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	color: #FFF;
}
.btn.btn-s {
	width: 88px;
}
.btn.btn-m {
	width: 140px;
}
.btn.btn-half {
	width: 50%;
}
.btn.btn-full {
	width: 100%;
}
.btn.line {
	border: 1px solid #283541;
	background-color: #fff;
}
.btn.gray-color {
	background-color: #E8E8E8;
}
.btn.gray-color > p {
	color: #222;
}
.btn.line > p {
	color: #283541;
}
.btn.b-line {
	border: 1px solid #17A2B8;
	background-color: #FFF;
}
.btn.b-line > p {
	color: #17A2B8;
}
.btn.btn-text {
	width: auto;
	border: none;
	background-color: transparent;
}
.btn.btn-text > p {
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	border-bottom: 1px solid #17A2B8;
	color: #17A2B8;
}
.btn-wrap {
	margin-top: 40px;
	font-size: 0;
}
.btn-wrap > .btn {
	margin-left: 20px;
	vertical-align: middle;
}
.btn-wrap > .btn:first-child {
	margin-left: 0;
}

/* List CSS */
.list-wrap {
  width: 100%;
  border-top: 1px solid #283541;
}
.list-wrap.list-none .list-none-area {
	display: block;
}
.list-wrap > .list-group.l-head {
	height: 58px;
	padding: 20px 0;
  background-color: #F1F1F1;
}
.list-wrap > .list-group.l-body {
	display: block !important;
}
.list-wrap > .list-group.l-body > li {
	height: 58px;
	padding: 20px 0;
	border-bottom: 1px solid #F1F1F1;
}
.list-wrap > .list-group.l-body .list-item li {
	position: relative;
}
.list-wrap > .list-group.l-body li .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} 
.list-wrap > .list-group li {
	width: 100%;
  font-size: 16px;
  line-height: 1;
  color: #222;
  text-align: center;
}
.list-wrap > .list-group li > a {
	color: #222;
}
.list-wrap > .list-group .w-5 {
	width: 5%;
}
.list-wrap > .list-group .w-10 {
	width: 10%;
}
.list-wrap > .list-group .w-15 {
	width: 15%;
}
.list-wrap > .list-group .w-20 {
	width: 20%;
}
.list-wrap > .list-group .w-30 {
	width: 30%;
}
.list-wrap > .list-group .w-40 {
	width: 40%;
}
.list-none-area {
	display: none;
	margin: 40px 0;
}
.list-none-area > .icon-area {
	display: block;
	width: 47px;
	height: 47px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-image: url(../images/icon_search2x.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 0;
}
.list-none-area > p {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #283541;
}

/* Pagenation CSS */
.pagination {
	padding: 40px 0;
}
.page-item .page-link {
	width: 32px;
	height: 32px;
	padding: 0;
	font-size: 16px;
	line-height: 32px;
	color: #888;
	text-align: center;
	border-radius: 0;
	border: none;
}
.page-item.active .page-link {
	font-weight: 600;
	color: #283541;
	text-decoration: underline;
	background-color: transparent;
}
.page-item .page-link.page-prev,
.page-item .page-link.page-prev.first,
.page-item .page-link.page-next,
.page-item .page-link.page-next.last {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 0;
}
.page-item .page-link.page-prev,
.page-item .page-link.page-next {
	background-image: url(../images/icon_arrow_b.png);
}
.page-item .page-link.page-prev.first,
.page-item .page-link.page-next.last {
	background-image: url(../images/icon_arrow_end.png);
}
.page-item .page-link.page-next,
.page-item .page-link.page-next.last {
	-webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* Modal CSS */
.modal-content {
	border-radius: 0;
	border: 1px solid #283541;
}
.modal-header {
	padding: 30px 0 10px 0;
	margin: 0 30px;
	border-radius: 0;
	border-bottom: 1px solid #E8E8E8;
}
.modal-header .modal-title {
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: #222;
}
.modal-header .modal-title:after {
	content: '';
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../images/icon_alert.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	vertical-align: -10px;
}
.modal-body {
	padding: 15px 0 30px 0;
	margin: 0 30px;
	font-size: 16px;
	font-weight: 300;
}
.modal-footer > * {
	margin: 0 !important;
}
.modal-footer {
	border-top: 0;
	padding: 0;
	margin: 0;
}
@media (min-width: 576px) {
	.modal-content {
		min-height: 247px;
	}
	.modal-dialog-centered {
		max-width: 400px;
	}
}