
.search-box-wrap {
  margin-top: 30px;
  padding: 30px;
  background-color: #F1F1F1;
}
.box-title {
  display: block;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #222;
}
.search-box-wrap .box-inner {
  font-size: 0;
}
.search-box-wrap .box-inner .bootstrap-select,
.search-box-wrap .box-inner .bootstrap-select + .input-default.search, 
.search-box-wrap .box-inner .datepicker-wrap {
  margin-right: 25px;
  vertical-align: middle;
}
.search-box-wrap .box-inner .datepicker-wrap + .bootstrap-select {
  margin-right: 10px;
}
.search-box-wrap .box-inner .radio-wrap {
  margin-right: 10px;
  vertical-align: middle;
}
.datepicker-wrap {
  display: inline-block;
  vertical-align: middle;
}
.total-num {
  display: inline-block;
  padding: 30px 0;
  font-size: 14px;
}
.total-num + .bootstrap-select {
  margin-top: 15px;
}